.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;

  background-color: #343434;
  border-radius: 16px;
  padding: 24px;

  flex: 1;
}

.infoCardTitle {
  font-size: 20px;
}

.infoCardValue {
  font-size: 32px;
  font-weight: bold;
}