#root {
  width: 75%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding: 32px;
  margin: auto;
}

.title {
  width: 100%;
}

.title a {
  cursor: pointer;

  color: rgb(170, 120, 26);
}

.title a:hover {
  color: rgb(199, 169, 114);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.loadingScreen {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.loadingLogo {
  height: 8em;
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	50% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(0.95);
	}
}

@media (prefers-reduced-motion: no-preference) {
  .loadingLogo {
    animation: pulse 2s infinite;
  }
}

.infosSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 16px;
}

.graphsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;

  width: 100%;
}

.graphsContainer {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 100%;

  background-color: #343434;

  padding: 16px;
  border-radius: 16px;
}

.languagesGraph {
  display: flex;
  flex-direction: row;
  width: 100%;

  background-color: #343434;

  padding: 16px;
  border-radius: 16px;
}